# Java / Spring
/backend/target/
/backend/*.iml
/.idea/
/*.log

# Node / Angular
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/

# Docker
**/docker-compose.override.yml
**/.env

# OS files
.DS_Store
Thumbs.db
