.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding-top: 10px;

    .full-width {
        grid-column: span 2;
    }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 12px;
}