.session-event-layout {
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100%;
}

.tab-content {
    padding-top: 20px;
}

::ng-deep .mat-mdc-tab-group {
    background-color: transparent;
}

::ng-deep .mat-mdc-tab-label-container {
    border-bottom: 1px solid #ddd;
}