<div class="session-event-layout">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
        <mat-tab label="Sessions Virtuelles">
            <div class="tab-content">
                <app-session-list></app-session-list>
            </div>
        </mat-tab>
        <mat-tab label="Demandes de Réservation">
            <div class="tab-content">
                <app-reservation-requests></app-reservation-requests>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
