.user-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 500px;

    @media (max-width: 600px) {
        min-width: 100%;
    }
}

.form-row {
    display: flex;
    gap: 16px;

    mat-form-field {
        flex: 1;
    }

    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.full-width {
    width: 100%;
}

.btn-save {
    background-color: #FFCC00 !important; // Yellow
    color: #333 !important;

    &:hover {
        background-color: #FF5733 !important; // Orange hover
    }
}

.btn-cancel {
    background-color: #F4F4F4;
    color: #333;
}